<!DOCTYPE HTML>
<html>

<head>
    <title>surper home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="/stylesheets/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="/stylesheets/lines.css" rel='stylesheet' type='text/css' />
    <link href="/stylesheets/surperhome.css" rel='stylesheet' type='text/css' />
    <link href="/stylesheets/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="/javascripts/jquery.min.js"></script>
    <!-- Nav CSS -->
    <link href="/stylesheets/custom.css" rel="stylesheet">
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/javascripts/metisMenu.min.js"></script>
    <script src="/javascripts/custom.js"></script>
    <!-- Graph JavaScript -->
    <script src="/javascripts/d3.v3.js"></script>
    <script src="/javascripts/rickshaw.js"></script>
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="Javascript:;">欢迎,admin回来！</a>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="javascript:;"><i class="fa fa-dashboard fa-fw nav_icon"></i>管理员详情</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-flask nav_icon"></i>后台工作日志</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-check-square-o nav_icon"></i>成员信息<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li id="puton">
                                    <a href="javascript:;">普通用户</a>
                                </li>
                                <li id="vip">
                                    <a href="javascript:;">超级用户</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-table nav_icon"></i>普通用户管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li id="curd">
                                    <a href="javascript:;">更改普通用户权限</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-sitemap fa-fw nav_icon"></i>系统设置<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li id="skin">
                                    <a href="javascript:;">超级用户换肤</a>
                                </li>
                                <li>
                                    <a href="/surper">退出登录</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            <!--admin的信息开始-->
            <div class="admin">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">admin详情</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active">
                            <th scope="row">姓名:</th>
                            <td>胡新发</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">年龄:</th>
                            <td>如早上的太阳 徐徐升起 </td>
                            <td>芳龄 23</td>
                            <td></td>
                        </tr>
                        <tr class="success">
                            <th scope="row">地址:</th>
                            <td>河南省 信阳市</td>
                            <td>商城县 上石桥镇</td>
                            <td>太平村 群头堰</td>
                        </tr>
                        <tr>
                            <th scope="row">婚姻状况:</th>
                            <td>未婚状态</td>
                            <td>已有女朋友</td>
                            <td>大名 李梦琦</td>
                        </tr>
                        <tr class="info">
                            <th scope="row">家庭背景:</th>
                            <td>父母在家 衣食基本无忧</td>
                            <td>农村户口 一家三口</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">爱好:</th>
                            <td>善于 运动</td>
                            <td>热爱 篮球</td>
                            <td>忠于 Web</td>
                        </tr>
                        <tr class="warning">
                            <th scope="row">职业规划:</th>
                            <td>上海 杭州 深圳等发达城市</td>
                            <td>薪资12k~30k</td>
                            <td>发展方向 Web项目经理</td>
                        </tr>
                        <tr>
                            <th scope="row">身高体重:</th>
                            <td>175cm</td>
                            <td>60kg</td>
                            <td></td>
                        </tr>
                        <tr class="danger">
                            <th scope="row">优点</th>
                            <td>自律性、责任心强</td>
                            <td>踏实肯干、诚实</td>
                            <td>吃苦耐劳、上进</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--admin的信息结束-->
            <!--后台日志开始-->
            <div class="log">
                <table class="table table-hover tebb">
                    <tr>
                        <th>时间：</th>
                        <td class="">2019年1月28号</td>
                        <td class="">2019年1月29号</td>
                        <td class="">2019年1月30号</td>
                        <td class="">2019年1月31号</td>
                        <td class="">2019年2月1号</td>
                    </tr>
                    <tr>
                        <th>地址：</th>
                        <td class="">郑州市海为科技园</td>
                        <td class="">郑州市海为科技园A区</td>
                        <td class="">郑州市海为科技园B区</td>
                        <td class="">郑州市海为科技园C区</td>
                        <td class="">郑州市海为科技园D区</td>
                    </tr>
                    <tr>
                        <th>更改记录：</th>
                        <td class="">admin更改了用户</td>
                        <td class="">admin更改了用户1</td>
                        <td class="">admin更改了用户2</td>
                        <td class="">admin更改了用户3</td>
                        <td class="">admin更改了用户4</td>
                    </tr>
                    <tr>
                        <th>删除记录：</th>
                        <td class="">admin删除了用户</td>
                        <td class="">admin删除了用户1</td>
                        <td class="">admin删除了用户2</td>
                        <td class="">admin删除了用户3</td>
                        <td class="">admin删除了用户4</td>
                    </tr>
                </table>
            </div>
            <!--后台日志结束-->
            <!--普通用户开始-->
            <div class="puto">
                <ul id="putong"></ul>
                <div class="cha">
                    <ul id="pucha">
                            <li>首页</li>
                            <li>第一页</li>
                            <li>第二页</li>
                            <li>第三页</li>
                            <li>第四页</li>
                            <li>末页</li>
                    </ul>
                </div>
            </div>
            <!--普通用户结束-->
            <!--超级用户开始-->
            <div class="vip">
                <ul>
                    <li>用户名：<h1>admin</h1>密码：<h2>123</h2>邮箱：<h3>huxinfa@qq.com</h3>
                    </li>
                </ul>
            </div>
            <!--超级用户结束-->
            <!--更改用户开始-->
            <div class="curd">
                <ul id="aid"></ul>
                <div class="conh">
                    <div class="put">
                    用户名:<input type="text" id="text">
                    密 码:<input type="password" id="pass">
                    邮箱:<input type="email" name="" id="email">
                    <input type="button" value="取消更改" id="qx">
                </div>
            </div>
               <ul id="page">
                   <li>首页</li>
                   <li>第一页</li>
                   <li>第二页</li>
                   <li>第三页</li>
                   <li>第四页</li>
                   <li>末页</li>
               </ul>
            </div>
            <!--更改用户结束-->
            <!--换肤开始-->
            <div class="skin">
                <h1 class="text-center">目前只支持以下三种方案</h1>
                <button type="button" class="btn btn-info">染色1</button>
                <button type="button" class="btn btn-warning">染色2</button>
                <button type="button" class="btn btn-danger">染色3</button>
            </div>
            <!--换肤结束-->
        </div>
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/surperhome.js"></script>
</body>

</html>