.cont{
    width: 800px;
    height: 800px;
    box-sizing: border-box;
    border: 1px solid #f00;
    padding: 50px;
    margin: 50px auto;
    box-shadow:0 3px 26px rgb(0, 217, 255);
    position: relative;
    background: url('/images/bg1.jpg') no-repeat;
    background-size: cover;
}